{% if flannel-backend is defined %}
flannel-backend: "{{ flannel-backend }}"
{% endif %}

{% if disable-kube-proxy is defined %}
disable-kube-proxy: {{ disable-kube-proxy | lower }}
{% endif %}

{% if disable-network-policy is defined %}
disable-network-policy: {{ disable-network-policy | lower }}
{% endif %}

{% if cluster-init is defined %}
cluster-init: {{ cluster-init | lower }}
{% endif %}

{% if disable is defined and disable|length > 0 %}
disable:
{% for item in disable %}
  - {{ item }}
{% endfor %}
{% endif %}

{% if write-kubeconfig-mode is defined %}
write-kubeconfig-mode: "{{ write-kubeconfig-mode }}"
{% endif %}

{% if tls-san is defined and tls-san|length > 0 %}
tls-san:
{% for item in tls-san %}
  - "{{ item }}"
{% endfor %}
{% endif %}

{% if node-labels is defined and node-labels|length > 0 %}
node-label:
{% for label in node-labels %}
  - "{{ label }}"
{% endfor %}
{% endif %}

{% if node-taints is defined and node-taints|length > 0 %}
node-taint:
{% for taint in node-taints %}
  - "{{ taint }}"
{% endfor %}
{% endif %}

{% if token is defined %}
token: "{{ token }}"
{% endif %}



{% if selinux is defined %}
selinux: "{{ selinux }}"
{% endif %}


{% if datastore-endpoint is defined %}
datastore-endpoint: "{{ datastore-endpoint }}"
{% endif %}

