{% if flannel_backend is defined %}
flannel-backend: "{{ flannel_backend }}"
{% endif %}

{% if disable_kube_proxy is defined %}
disable-kube-proxy: {{ disable_kube_proxy | lower }}
{% endif %}

{% if disable_network_policy is defined %}
disable-network-policy: {{ disable_network_policy | lower }}
{% endif %}

{% if cluster_init is defined %}
cluster-init: {{ cluster_init | lower }}
{% endif %}

{% if disable is defined and disable|length > 0 %}
disable:
{% for item in disable %}
  - {{ item }}
{% endfor %}
{% endif %}

{% if write_kubeconfig_mode is defined %}
write-kubeconfig-mode: "{{ write_kubeconfig_mode }}"
{% endif %}

{% if tls_san is defined and tls_san|length > 0 %}
tls-san:
{% for item in tls_san %}
  - "{{ item }}"
{% endfor %}
{% endif %}

{% if node_labels is defined and node_labels|length > 0 %}
node-label:
{% for label in node_labels %}
  - "{{ label }}"
{% endfor %}
{% endif %}

{% if node_taints is defined and node_taints|length > 0 %}
node-taint:
{% for taint in node_taints %}
  - "{{ taint }}"
{% endfor %}
{% endif %}

{% if token is defined %}
token: "{{ token }}"
{% endif %}



{% if selinux is defined %}
selinux: "{{ selinux }}"
{% endif %}


{% if datastore_endpoint is defined %}
datastore-endpoint: "{{ datastore_endpoint }}"
{% endif %}

